body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}


.dropdown-menu {
    width: 250px;
}

.dropdown-menu button {
    display: block;
    margin: 0 auto;
    width: 30px;
}

#legal-info {
    font-size: 0.75rem;
    text-align: center;
    font-weight: normal;
}


#intro-container {
 margin: auto;
 width: 500px;
}

#welcome-copy-container {
}

#welcome-copy-container h1 {
    font-size:  50px;
    font-weight: 800;
    letter-spacing: 0;
}

#welcome-copy-container p {
    font-size:  1.25rem;
    padding-bottom: 20px;
}

#join-ctas-container {
    margin: auto;
    text-align: center;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}



.tableFixHead {
    overflow: auto;
    height: 500px;
}


/*table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px 16px;
}
th {
    background: #eee;
}
*/


/* Light mode */
nav {
    background-color: #EDEDED;
    font-weight: bold;
}
nav a {
    color: black !important;
}
nav a:hover {
    text-decoration: none;
    border-bottom: #EA215A 0.125em solid;
}

/*thead {
    background-color: #70E000;
}*/

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #70E000;
}

/* Dark mode */
.dark-mode-nav {
    background-color: #001D3D;
    color: #EDEDED;
}
.dark-mode-nav a {
    color: #EDEDED !important;
}
.dark-mode-nav a:hover {
    text-decoration: none;
    border-bottom: #FDC500 0.125em solid;
}

.dark-mode-page-title {
    color: #EDEDED;
}

/*.dark-mode-table-headers {
    background-color: #18392B;
}
*/
.dark-mode-table-headers tr th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #18392B;
}





.dark-mode-body {
    background-color: #11296B;
    color: #EDEDED;
}
.dark-mode-footer {
    background-color: #11296B;
    color: #EDEDED;
}


.dark-mode-primary-button {
    background-color: black;
    color: white;
}
.dark-mode-secondary-button {
    background-color: black;
    color: white;
}

.dark-mode-menu {
    background-color: #001D3D;
}
