{% extends "stigapp/base.html" %}
{% load static %}

{% block content %}

 <div>
    <legend>Profile Information:</legend>

    {% if user.is_authenticated %}
        {% if user.is_staff or user.is_admin %}
            <form method="POST">
                {% csrf_token %}

                {{ form.as_p }}

                <input type="submit" name="submit" value="Update">
            </form>
        {% endif %}
    {% endif %}
</div>



{% endblock content %}
