{% extends "stigapp/base.html" %}
{% load static %}

{% block content %}

 <div>
    <legend>Profile Information:</legend>

    <a class="btn btn-primary"
    href="{% url 'community-profile' pk=user.django_site_id.id %}">Community Preferences</a>


    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" name="submit" value="Update">
    </form>
</div>

{% endblock content %}

