{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <link rel="stylesheet" type="text/css" href="{% static 'stigapp/main.css' %}">

    <link rel="icon" href="{% static 'stigapp/images/favicon.ico' %}">

    <title>StigApp | by DAOstack</title>


</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md fixed-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'stigapp/images/favicon.ico' %}" height="40" alt="Common Sense[makers]" loading="lazy"/>
                </a>
            <div>
            <div class="navbar-nav mr-auto">
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <button type="button" onclick="SwitchModes()"><span>
                                <i class="bi bi-moon-fill" id="dark-mode-icon"></i>
                            </span></button>
                            <!-- Change this to use i class instead -->
                            <div class="dropdown-divider"></div>
                            {% if user.is_authenticated %}
                                {% if user.is_staff or user.is_admin %}
                                    <a class="dropdown-item" href="/admin">Admin</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url 'profile' pk=user.pk %}">Profile</a>
                                <a class="dropdown-item" href="{% url 'top_messages' %}">Top Messages</a>
                                <a class="dropdown-item" href="{% url 'garden_messages' %}">Garden Messages</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'about' %}">About</a>
                            {% if user.is_authenticated %}
                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            {% else %}
                                <a class="dropdown-item" href="{% url 'login' %}">Join Stigflow</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <div id="legal-info">
                                <a href="{% url 'privacy' %}">Privacy Policy</a>

                                *

                                <a href="{% url 'terms' %}">Terms of Service</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>


    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-2">
            <a href ="https://www.csensemakers.com/" target="_blank">
                <img src="{% static 'stigapp/images/favicon.ico' %}" alt="Common Sense[makers] logo with the uppercase letters C, S and a lowercase m in brackets" height=50px>
            </a>
        </div>
        <div class="col-7">
            <span> TEC's Common Sense[making] powered by DAOstack</span><br />
            <span class="text-muted">&copy; 2022 Token Engineering Commons</span>
        </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function SwitchModes() {
            const body = document.body;
            const nav = document.querySelector('nav');
            const footer = document.querySelector('footer');
            const pageTitle = document.querySelector('h2');
            const columnHeaders = document.querySelector('thead');
            const dropdownMenu = document.querySelector('.dropdown-menu');

            const modeIcon = document.querySelector('#dark-mode-icon')

            modeIcon.classList.toggle('bi-moon');
            modeIcon.classList.toggle('bi-moon-fill');
            body.classList.toggle('dark-mode-body');
            nav.classList.toggle('dark-mode-nav');
            footer.classList.toggle('dark-mode-footer');
            columnHeaders.classList.toggle('dark-mode-table-headers');
            dropdownMenu.classList.toggle('dark-mode-menu');
            pageTitle.classList.toggle('dark-mode-page-title');
        }
    </script>

    {% block javascript %}{% endblock %}

</body>
</html>
