{% extends "stigapp/base.html" %}
{% load static %}

{% block content %}

<div id="intro-container">
    <div id="welcome-copy-container">
        <h1 class="mb-7">Communities thrive in understanding</h1>

        <p>Your community and it's important ideas should not be limited by platforms optimized for keeping your attention focused on them. Make sense of what's important to your community across communities!</p>
    </div>

    <div id="join-ctas-container">
        {% if user.is_authenticated %}
        {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}">Join us!</a>
        {% endif %}
    </div>
</div>
{% endblock content %}
